{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content
%}
<h1 align="center">QUIZ</h1>
<form method="POST">
  <br />
  <div align="center">
    <div class="container-fluid">

               <div class="modal-header">
                  <h3>{{sheet_obj.cell(row = qarr[row-2], column = 1).value}}</h3>
               </div>
               <form action = "{{webpage}}" method = "post">
                  <div class="quiz" id="quiz" data-toggle="buttons">
                      <label class="element-animation1 btn btn-lg btn-secondary btn-block">
                          <span class="btn-label"><i class="glyphicon glyphicon-chevron-right"></i></span>
                          <input type="radio" name="q_answer" value="{{sheet_obj.cell(row = qarr[row-2], column = arr[0]).value}}">{{sheet_obj.cell(row = qarr[row-2], column = arr[0]).value}}</label>
                      <label class="element-animation2 btn btn-lg btn-secondary btn-block">
                          <span class="btn-label"><i class="glyphicon glyphicon-chevron-right"></i></span>
                          <input type="radio" name="q_answer" value="{{sheet_obj.cell(row = qarr[row-2], column = arr[1]).value}}">{{ sheet_obj.cell(row = qarr[row-2], column = arr[1]).value}}</label>
                      <label class="element-animation3 btn btn-lg btn-secondary btn-block">
                          <span class="btn-label"><i class="glyphicon glyphicon-chevron-right"></i></span>
                          <input type="radio" name="q_answer" value="{{sheet_obj.cell(row = qarr[row-2], column = arr[2]).value}}">{{sheet_obj.cell(row = qarr[row-2], column = arr[2]).value}}</label>
                      <label class="element-animation4 btn btn-lg btn-secondary btn-block">
                          <span class="btn-label"><i class="glyphicon glyphicon-chevron-right"></i></span>
                          <input type="radio" name="q_answer" value="{{sheet_obj.cell(row = qarr[row-2], column = arr[3]).value}}">{{sheet_obj.cell(row = qarr[row-2], column = arr[3]).value}}</label>
                  </div>
                  <span class="btn-label"><i class="glyphicon glyphicon-chevron-right"></i></span>
                   <input class="element-animation5 btn btn-success btn-block" type = "submit" value = "submit">
            </div>
            </form>
         </div>

</form>
{% endblock %}
